html{
    height: 100%;
}
.fondo_F{
    background-image: linear-gradient(to top left, blue,white);
    height: 100%;
}
.fondo_I{
    background-image: linear-gradient(to top left, orange,white);
    height: 100%;
}

.btn1{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    transition: all 0.9s;
    padding: 3px;
}
.btn1:hover{
    background-color: rgb(119, 119, 173);
    color: white;
    border: 2px solid blue;
}

.btn2{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    transition: all 0.9s;
    padding: 3px;
}
.btn2:hover{
    background-color: orange;
    color: white;
    border: 2px solid purple;
}

.btn3{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    transition: all 0.9s;
    padding: 3px;
}
.btn3:hover{
    background-color: rgb(125, 204, 6);
    color: white;
    border: 2px solid green;
}
